@import "../../../scss/variables/color.scss";

.about_fade {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 1s ease-in;

  &.intersected {
    opacity: 1;
    transform: none;
  }
}

.space-md {
  padding: 6rem 0;
}

.about_side_fade {
  opacity: 0;
  transform: translateX(2rem);
  transition: all 1s ease-in;

  &.intersected {
    opacity: 1;
    transform: none;
  }
}

.about_header_fade {
  opacity: 0;
  transition: opacity 1s;

  &.intersected {
    opacity: 1;
  }
}

.about_img_fade {
  &:after {
    transition: all 1s ease-out;
    transform-origin: 100% 0;
  }

  &.intersected {
    &::after {
      transform: scaleX(0);
    }
  }
}

.about_page {
  color: gainsboro;
  padding: 0 4rem;

  max-width: 1200px;
  margin: 0 auto;
}

.reveal_svg {
  width: 100%;
}

.reveal_svg_path {
  stroke: $color-gold;
  fill: none;
}

.about_header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem 0;
  margin-bottom: 6rem;
}

.about_header_main {
  font-size: 6rem;
  padding-bottom: 2.5rem;
}

.about_desc,
.about_desc_item_wrapper {
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_desc_item_link {
  margin: 2rem 0;
  color: $color-gold;
  align-self: flex-start;
}

.about_page_team_header {
  font-size: 6rem;
  text-align: center;
}

.about_team_item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  &:nth-child(even) {
    .about_side_fade {
      transform: translateX(-2rem);

      &.intersected {
        opacity: 1;
        transform: none;
      }
    }
    .about_img_fade:after {
      transition: all 1s ease-out;
      transform-origin: 0 0;
    }
  }
}

.about_team_item_header {
  position: relative;
  z-index: 4;
  flex-basis: 100%;
  font-size: 8rem;
  -webkit-text-stroke: 1px $color-gold;
  -webkit-text-fill-color: transparent;
}

.about_team_item_img_wrapper {
  order: 2;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    background: #050505;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    width: 105%;
    height: 105%;
  }
}
.about_team_item_img {
  width: 100%;
}

.about_lead {
  margin-top: 12rem;
  margin-bottom: 4rem;
  font-size: 4rem;
}

@media only screen and (min-width: 43.75em) {
  .about_page {
    padding-bottom: 20rem;
  }

  .reveal_svg {
    width: 45%;
    flex-basis: 45%;
  }
  .about_header_text {
    flex-basis: 45%;
    width: 45%;
  }

  .about_team_item_header {
    transform: translateY(3rem);
    font-size: 9rem;
    font-weight: 900;
  }

  .about_team_item {
    &:nth-child(even) {
      .about_team_item_header {
        text-align: right;
      }

      .about_team_item_img_wrapper {
        order: 1;
      }
    }
  }

  .about_team_item_img_wrapper {
    order: 0;
    width: 45%;
    flex-basis: 45%;
  }

  .about_desc_item_wrapper {
    width: 45%;
    flex-basis: 45%;
  }

  .about_lead {
    display: none;
  }
}

@media only screen and (min-width: 56.25em) {
  .about_team_item_header {
    transform: translateY(3.5rem);
    font-size: 10rem;
  }
}
