@import "../mixins/respond.scss";
@import "../typography/typography.scss";
@import "../variables/color.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:focus,
button:focus,
button:active {
  opacity: 1;
}

*,
*:active,
*:hover,
*:visited,
*:focus {
  outline: none;
  cursor: none;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phonexs) {
    font-size: 40%;
  }

  @include respond(big-desktop) {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  background: #050505;
  overflow-x: hidden;
}

.hightlight_hover {
  position: relative;

  &:after {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    background: $color-gold;
    height: 2px;
    transform-origin: 0 0;
    transform: scaleX(0);
    content: "";
    transition: transform 0.3s ease-in;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  scrollbar-width: none;
}
