.reveal_wrapper {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: CENTER;
  align-items: CENTER;
  background: black;
}

.reveal_svg {
  height: 40vh;
  margin-top: -20rem;
}

.path {
  stroke: gainsboro;
}
