@import "../../scss/variables/color.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 12rem;
  margin-bottom: 4rem;
}

.header_logo {
  width: 6rem;

  &_g {
    stroke: $color-gold;
  }
}

.header_home_link {
  padding-bottom: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_nav {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  &_link {
    color: gainsboro;
    font-size: 2rem;
    text-decoration: none;
  }
}

@media only screen and (min-width: 19.9em) {
  .header {
    padding: 2rem 4rem;
  }

  .header_nav {
    &_link {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 43.75em) {
  .header {
    flex-wrap: nowrap;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
  }

  .header_nav {
    justify-content: flex-end;
    padding: 0;

    &_link {
      margin: 0 4rem;
    }
  }
  .header_home_link {
    padding: 0;
  }
}
