@import "../../scss/variables/color.scss";

.listings_filters {
  padding: 0 4rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.listings_page {
  height: calc(100vh - 20rem);
  padding-top: 5rem;

  &.filters_open {
    overflow: hidden;
  }
}

.listings_filters_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.listings_filters_label {
  padding: 0.5rem 0;
}

.listings_filter_toggle {
  background: none;
  border: none;
  display: flex;
  align-items: flex-end;
}

.listing_filter_plus {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2.5rem;
  text-align: center;
  transition: transform 0.2s ease-out;

  &.filters_open {
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }
}

.list {
  background: black;
  padding: 0 4rem;
  transition: transform 0.5s ease-out;
  transform: translateY(-100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.entered {
    transform: translateY(0);
  }
}

.listings_filter_entry {
  padding: 4rem 0;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  &.entered {
    opacity: 1;
  }
}

.listings_sort {
  padding: 1rem;
  display: flex;
  align-items: stretch;
}

.listings_sort_text {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.listings_sort_btn {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.listing_arrow {
  display: inline-block;
  transition: transform 0.2s ease-out;

  &.asc {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}

.listing_option,
.listing_select {
  background: black;
}

.listing_option {
  &:hover {
    background: white;
    box-shadow: none;
  }
}

.overlay_close_filters {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  background: black;
  opacity: 0.7;
  overflow: hidden;
  transition: opacity 0.7s ease-in;

  &.entering {
    opacity: 0.7;
  }

  &.entered {
    opacity: 0.7;
  }

  &.exiting {
    opacity: 0;
  }

  &.exited {
    opacity: 0;
  }
}

.listings_cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.listings_card {
  margin: 5rem 2rem;
  width: 40rem;
  border: 1px solid rgba(white, 0.3);
}

.listings_card_listing_type {
  text-align: center;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.listing_card_img {
  width: 100%;
  max-height: 30rem;
  object-fit: contain;
}

.listings_card_content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listings_card_title {
  font-size: 3rem;
}

.listings_card_address,
.listings_card_desc,
.listings_card_price {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.listing_card_property_type {
  margin-top: 4rem;
  background: rgba(white, 0.1);
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 25em) {
  .listings_filter_entry {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 43.75em) {
  .listings_page {
    height: auto;
    padding-top: 0;

    &.filters_open {
      overflow: auto;
    }
  }

  .listings_menuBar {
    margin: 0 auto;
  }

  .listings_filters {
    padding: 0 4rem;
    max-width: 60rem;
    margin: 0 auto;
  }

  .listings_filters_list {
    flex-basis: 60%;
    position: relative;
  }

  .listings_filter_toggle {
    display: none;
  }

  .overlay_close_filters {
    display: none;
  }

  .list {
    padding: 0;
  }

  .listings_filter_entry {
    padding: 2rem 0;
    padding-right: 2rem;
    max-width: 20rem;
  }

  .listings_sort {
    margin: 0;
    display: flex;
  }

  .listings_menuBar {
    background: black;
  }

  .listings_card {
    margin: 5rem;
  }
}
