.listing_page {
  background: green;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  margin-top: 6rem;
}

.listing_page_slider {
  background: red;
  width: 100%;
  position: relative;
}

.listing_page_slide {
  height: 0rem;
  padding-bottom: 56.25%;
}
