@import "../../scss/variables/color.scss";

.listing_page {
  margin: 0 auto;
  width: 100%;
  background: black;
  position: relative;
}

.listing_page_type {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(white, 0.3);
  border-top: none;
  padding: 1rem;
  z-index: 100;
  background: white;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}

.listing_hero_element {
  border: 1px solid rgba(white, 0.3);
  position: relative;
  background: black;
}

.listing_page_slider {
  width: 100%;
  position: relative;
}

.listing_page_slide {
  max-height: 60vh;
  min-height: 25rem;
}

.listing_page_arrow {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}

.arrow_path.left {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.carousel_button {
  background: none;
  border: none;
  position: absolute;
  top: 0%;
  bottom: 0;
  background: rgba(black, 0.5);

  &.right {
    right: 0;
  }
}

.carousel_dots_wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.carousel_dot {
  margin: 0 1rem;
  background: white;
  border: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100px;

  &.selected {
    background: $color-gold;
  }
}

.listing_hero_header {
  padding: 1.5rem 4rem;
  background: white;
}

.listing_hero_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listing_hero_description {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
  max-width: 80%;
}

.listing_hero_summary {
  display: flex;
}

.listing_hero_address {
  font-size: 1.5rem;
}

.listing_hero_title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.listing_hero_summary_item {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 700;
  padding-right: 1rem;
  border-right: 1px solid rgba(black, 0.2);

  &:last-child {
    border-right: none;
  }
}

.listing_hero_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  padding-top: 2rem;
}

.listing_hero_download_link {
  margin-bottom: 1rem;
  white-space: nowrap;
  border: 1px solid $color-gold;
  padding: 0.75rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.black {
  color: black;
}

.listing_page_details {
  display: flex;
  padding: 4rem;
  justify-content: center;
}

.listing_page_details_lhs {
  max-width: 600px;
  flex: 1;
}

.listing_page_details_desc,
.listing_page_details_features_wrapper,
.listing_page_details_specs_container,
.listing_page_details_lease_container {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(white, 0.3);
}

.listing_page_details_desc_header,
.listing_page_details_features_header,
.listing_page_details_specs_header,
.listing_page_details_lease_header,
.listing_page_details_map_header,
.listing_page_contact_header {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.listing_page_details_features_list {
  padding-left: 2rem;
}

.listing_page_details_desc_text,
.listing_page_details_feature_list_item {
  font-size: 1.5rem;
}

.listing_page_table {
  border: 1px solid rgba(white, 0.3);
  border-collapse: collapse;

  &.table_full {
    width: 100%;
  }
}

.listing_page_table_row,
.listing_page_table_head,
.listing_page_table_data {
  border: 1px solid rgba(white, 0.3);
  border-collapse: collapse;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
}

.listing_page_table_head {
  font-weight: bold;
  font-size: 2rem;
}

.iframe_container > :first-child {
  width: 100%;
}
.iframe_container > img {
  height: auto;
}
.iframe_container {
  position: relative;
}
.iframe_container::before {
  content: "";
  display: block;
  padding-bottom: 62.5%;
}
.iframe_container > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

@media only screen and (min-width: 50em) {
  .listing_page_arrow {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
  }

  .listing_hero_description {
    max-width: 50%;
  }
}

@media only screen and (min-width: 60em) {
  .listing_page {
    padding: 0 15rem;
    //  max-width: 1400px;
  }
}
